// default-styling

body {
    font-family: $myfont-family-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    line-height: $lineheight-base;
    background-color: $body-bg;
    color: $body-color;
    padding-top: 0px;
    
}


h1, h2, h3, h4, h5, h6 {
    font-family: $myfont-family-title;
    font-weight: $font-weight-bold;
}

h1 {
    font-weight: $font-weight-light;
    font-size: 4rem;
    color: #5c679b;
}
h2 {
    font-weight: $font-weight-light;
    font-size: 3rem;
    margin: 8rem 0 1rem;
    color: #a35072;
}

.hallo {
    margin-top: -10px;
}
h3,  {
    font-weight: $font-weight-light;
    font-size: 2rem;
    margin: 1rem 0 1rem;
    color: #5c679b;

}

h4, h5, h6 {
    font-weight: $font-weight-light;
    font-size: 1rem;
    margin: 1rem 0 1rem;
    color: #5c679b;}
a {
    text-decoration: none;
    color: $body-link;
    border-bottom: none;
    
    &:hover{
        color: $body-link;
        text-decoration: none;
       
      
        
    }
    &:active{
        background-color: $body-link;
        color: $color-white;
    }
    &:focus{}
}
blockquote {
    padding-left: 24px;
    border-left: 2px solid $mycolor-5;
}

.col-12.col-md-3.col-lg-2{

    background-color: #dbd7dc;

    
}

.fotohuisstijl {

    margin-top: 10px;
    margin-bottom: 30px;
}


.mockup{

    padding-top: 15px;
    padding-bottom: 10px;
   

}

.nieuwsbrief {

    margin-right: 90px;
    margin-top: 100px;

}

.folder,.welkom,.banner {

    margin-bottom: 20px;
    
}

.lijst{

    padding-bottom: 30px;
}

.banner2{
    margin-bottom: -100px;
}

.banner,.banner3{
    padding-top: 10px;
    padding-bottom: 20px;
}
.banner:hover{
    opacity: 0.7;
}

.download{

    border-bottom: none;
    
}
.download:hover{

    background-color: white;
    border-bottom: none;
    
}

.button {
    background-color: #a35072;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #5c679b;
   
}


// ongeordende lijstjes met een ander symbool of kleur
main ul {
  list-style: none;  
  margin: 0 0 1em;
  padding: 0;
  li {
    padding-left: 25px;
    text-indent: -25px;
    &:before {
        content:'\2022';
        color: $mycolor-5;
        margin-right: 18px;
    }    
  }
}

//geordende lijstjes met een ander symbool of kleur
main ol {
    list-style: none;  
    margin: 0 0 1em;
    padding: 0;
    counter-reset: i 0;
    li {
      padding-left: 25px;
      text-indent: -25px;
      margin-bottom: 0.5rem;
      &:before {
        counter-increment: i;
        content: counter(i);    
        padding: 3px 6px;
        margin-right: 5px;
        border-radius: 5px;
        background-color: $mycolor-5;
        color: $color-white;
        font-family: $myfont-family-title;
        font-weight: $font-weight-bold;
      }    
    }
  }

//forms 
button, a.btn {
    
    &:hover{}
    &:active{}
    &:focus{}
}
input[type=text], textarea {

}